.cell {
}

.date {
	margin-right: 8px;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;

	@media (max-width: 961px) {
		display: block;
	}
}

.time {
	color: #b0b0b0;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;

	@media (max-width: 961px) {
		display: block;
	}
}
