.input {
    margin: 0;
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;

    &::placeholder {
        color: #B0B0B0;
        font-weight: 400;
    }
}
