.input {
    padding: 13px 16px;
    width: 581px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 766px) {
        width: 250px;
    }

    @media (max-width: 460px) {
        width: 100%;
    }

    &::placeholder {
        color: #b0b0b0;
    }

    &:focus {
        outline: none;
    }

    &.danger {
        border-color: red;
    }
}
