.modal {
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba($color: #333, $alpha: 0.6);
	opacity: 0;
	pointer-events: none;
}

.modal__content {
	padding: 24px 30px 30px;
	max-height: 600px;
	overflow-y: auto;
	min-width: 450px;
	background-color: #fff;
	scale: 0;

	@media (max-width: 540px) {
		min-width: auto;
		width: 300px;
		padding: 25px 15px;
	}
}

.modal.active {
	opacity: 1;
	pointer-events: all;
	transition: opacity .2s ease-in-out;
}

.modal__content.active {
	scale: 1;
	transition: scale .2s ease-in-out;
}