* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

img {
	max-width: 100%;
	object-fit: cover;
}

@font-face {
	font-family: "OpenSans";
	src:
		local("OpenSans"),
		url("../fonts/OpenSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans";
	src:
		local("OpenSans"),
		url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans";
	src:
		local("OpenSans"),
		url("../fonts/OpenSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

body {
	font-family: "OpenSans", sans-serif;
	min-width: 320px;
	background: #f5f5f5;
}

.App {
	padding-bottom: 60px;
}

.container {
	max-width: 1366px;
	margin: 0 auto;

	&--table {
		padding-inline: 10px;
		max-width: calc(1186px + 10px * 2);
		margin: 0 auto;
	}
}

.title {
	margin: 0;
	margin-bottom: 30px;
	color: #333;
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
}

.hidden {
	position: absolute;
	z-index: -999999;
	visibility: hidden;
	opacity: 0;
	width: 0;
	height: 0;
}

.header {
	margin-bottom: 40px;
	background: #fff;
	box-shadow:
		0px 3.38629px 5.64383px 0px rgba(176, 190, 197, 0.32),
		0px 9.03012px 27.09036px 0px rgba(176, 190, 197, 0.32);

	&__container {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 53px;
		padding: 20px;

		@media (max-width: 766px) {
			justify-content: space-between;
		}

		svg {
			flex-shrink: 0;
		}
	}
}

.table-overlay {
	margin-bottom: 40px;
	@media (max-width: 766px) {
		overflow: auto;
	}
}

.clients-table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;

	@media (max-width: 766px) {
		width: 728px;
	}

	&__head {
		border-bottom: 8px solid #f5f5f5;

		th {
			padding-right: 12px;
			vertical-align: bottom;

			&:first-child {
				padding-left: 20px;
			}
		}
	}

	&__body {
		td {
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}

	&__btn {
		color: #b0b0b0;
		font-size: 12px;
		font-weight: 400;
		line-height: normal;
	}

	&__cell {
		padding-right: 20px;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
		color: #333;

		&:first-child {
			padding-left: 20px;
			font-size: 12px;
			font-weight: 400;
			line-height: normal;
			color: #b0b0b0;
		}
	}

	&__cell-control {
		display: flex;
		gap: 30px;
		margin-top: 3px;
		@media (max-width: 961px) {
			flex-direction: column;
			gap: 5px;
			justify-content: center;
			align-items: flex-start;
		}

		@media (max-width: 768px) {
			padding-right: 20px;
		}
	}

	&__contacts-list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 5px;
	}
}

.client-form {
	position: relative;
	display: flex;
	flex-direction: column;

	&__title {
		margin: 0;
		margin-bottom: 16px;
	}

	&__main-title {
		margin-right: 9px;
		color: #333;
		font-size: 18px;
		font-weight: 700;
		line-height: normal;

		&--id {
			color: #b0b0b0;
			font-size: 12px;
			font-weight: 400;
			line-height: normal;
		}

		@media (max-width: 540px) {
			display: flex;
			flex-direction: column;
			gap: 0px;
		}
	}

	&__button-set {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		flex-direction: column;
	}
}

.client-form-contacts {
	padding: 8px 30px;
	margin-inline: -30px;
	background-color: rgba(200, 197, 209, 0.2);

	@media (max-width: 540px) {
		padding: 8px 15px;
		margin-inline: -15px;
	}

	&--active {
		padding: 25px 30px;

		@media (max-width: 540px) {
			padding: 25px 15px;
		}
	}

	&__label {
		display: grid;
        grid-template-columns: 132px 1fr 30px;
        margin-bottom: 15px;
		height: 37px;

		@media (max-width: 540px) {
			grid-template-columns: 110px minmax(132px, 1fr) 27px;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

.confirm-modal {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__title {
		margin: 0;
		margin-bottom: 11px;
		color: #333;
		font-size: 18px;
		font-weight: 700;
		line-height: normal;
	}

	&__descr {
		margin: 0;
		margin-bottom: 25px;
		max-width: 275px;
		text-align: center;
		color: #333;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
	}

	&__button-set {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		flex-direction: column;
	}
}

.error-block {
	margin: 8px 0;
	margin-bottom: 25px;
	color: #f06a4d;
	text-align: center;
	font-size: 10px;
	font-weight: 400;
	line-height: normal;
}
