.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C8C5D1;
    background-color: #E7E5EB;
    color: #B0B0B0;
    transition: border-color .2s ease-in-out;

    &:hover {
        border-color: #F06A4D;

        svg {
            fill: #F06A4D
        }
    }
}