.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b0b0b0;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    transition: color .2s ease-in-out;

    &.active {
        color: #9873FF;
    }

    &:hover {
        color: #9873FF;
    }
}
