.button {
    padding: 12.5px 35px;
    background: #9873ff;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    transition: background-color .15s, border-color .15s;

    &:disabled {
        background-color: #c8c5d1;
    }

    &:hover:enabled {
        background-color: #8052FF;;
    }
}
