.button {
    margin-left: -21px;
    width: 16px;
    height: 16px;
    border: 1px solid #9873FF;
    border-radius: 100px;
    color: #333;
    font-size: 8px;
    font-weight: 600;
    line-height: normal;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;

    &:hover {
        background-color: #9873FF;
        color: #fff;
    }
}